.vs/
.vscode/
Backups/
bin/
obj/
*.zip
*.bin
*.user
*.suo
*.VC.db
*.VC.VC.opendb
*.ipch
*.aps
*.pdb
*.ilk
*.exp
*.lib
*.obj
*.log
*.tlog
*.lastbuildstate
*.recipe
*.cache
setup_artifacts/
PermGuard/permguard_imgui.ini
*.opensdf
*.sdf
